{{!< default}}
<main class="c-site-main c-site-main--strecth">
	<div class="c-error o-inner-wide">
		<div class="c-error__content">
			<div class="c-error__status-code">{{statusCode}}</div>
			<p class="c-error__message">{{message}}</p>
			<p class="c-error__back"><a href="{{@site.url}}">{{t "Go to the front page"}} →</a></p>
		</div>
	</div>
</main>
