@font-face {
    font-family: 'Fira Mono';
    src: url('../../assets/fonts/fira-mono/firamono-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/fira-mono/firamono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
