/*------------------------------------*\
$lazysizes
\*------------------------------------*/
.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

/*------------------------------------*\
$medium-zoom
\*------------------------------------*/

.medium-zoom--opened .medium-zoom-overlay {
	z-index: 100;
}

.medium-zoom-image--opened {
	z-index: 110;
}
