/* Variables
/* ---------------------------------------------------------- */

:root {
	--font-sans-serif: "Cooper Hewitt", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	--font-mono: "fira_monoregular", Menlo, Courier, monospace;

	--font-light: 100;
	--font-normal: 400;
	--font-bold: 700;
	--font-heavy: 900;

	--radius: 3px;
	--gap-mobile: 2rem;
	--gap: 3rem;
	--gap-medium: 2.5rem;
}
