<div class="c-post-section c-post-section--comments">

	<div class="c-post-section__title-wrapper">
		<div class="c-post-section__start o-inner">
			<div class="c-post-section__title">
				Comments
			</div>
		</div>
	</div>

	<div class="c-post-section__content o-inner">
		<div class="c-post-section__comments">
			<div class="c-comments">
				<div class="c-comments__link">{{t "Show comments"}}</div>
				<div class="c-comments__loader">{{> "icons/loader"}}</div>
				<div id="disqus_thread"></div>
			</div>
		</div>
	</div>

</div>
