<div class="c-sticky-header">
	<div class="c-sticky-header__inside o-inner-wide">
		<div class="c-sticky-header__title">{{title}}</div>
		<div class="c-sticky-header__toc"></div>
		<div class="c-sticky-header__current"></div>
	</div>
	<div class="c-sticky-header__progress">
		<div class="c-sticky-header__progress-slide">
			<div class="c-sticky-header__progress-bar">
			</div>
		</div>
	</div>
</div>
